html, body{
	margin: 0;
}

h2, h3, p{
	margin: 0;
	maring-bottom: 0.2rem;
}

h2, h3 {
	font-family: 'Stardust Pixel Title';
}

h2 {
	font-size: 2rem;
	margin-top: 0.3rem;
}

h3 {
	font-size: 1.5rem;
	margin-top: 0.225rem;
}

p {
	font-family: 'Noto Sans KR';
}


/* Dropdown */
.dropdown-wrapper {
	position: relative;
}

.dropdown-wrapper-center {
	display: flex;
	justify-content: center;
}

.dropdown-list {
	position: absolute;
	top: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 3px 5px #0002;
}

.modal-bg {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #000000aa;
	z-index: 99;
}

.modal-close {
	position: absolute;
	top: 30px;
	right: 30px;
}

/* Header */
header {
	width: 100vw;
	height: 60px;
	padding: 0px calc(50% - 600px);
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 2px 5px #0002;
	position: fixed;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Language button */
#banner {
	display: flex;
	gap: 20px;
}

.language-wrapper {
	position: relative;
	width: 30px;
	height: 30px;
}

.language-list {
	width: 100px;
}

/* Howto */
.howto-modal {
	position: fixed;
	top: calc( 50vh - 300px );
	left: calc( 50vw - 500px );
	width: 1000px;
	height: 600px;
	background-color: #ffffff;
	border-radius: 10px;
	z-index: 100;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	gap: 30px;
	flex-direction: column;
	justify-content: center;
}

.howto-nav {
	display: flex;
	width: calc(100% - 40px);
	justify-content: space-between;
	position: absolute;
	bottom: 30px;
}


/* Main */
main {
	width: 1200px;
	height: calc( 100vh - 120px );
	margin: 0px calc(50% - 600px);
	position: relative;
	top: 80px;

	display: flex;
	flex-direction: row;

	border: solid 8px #fff0;
	border-image: url("../assets/border.png") 16 round;
}

main::-webkit-scrollbar {
	display: none;
}

/* Viewer */
.viewer {
	width: 480px;
	box-sizing: border-box;
	background: url("/assets/background.png") center/cover #7e7dfe;
	image-rendering: pixelated;

	flex-shrink: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.viewer-wrapper {
	width: 50%;
	height: 80%;
	max-width: 280px;
	max-height: 400px;
	background: #fff;
	position: relative;
}

.viewer-canvas {
	width: 100%;
	height: 100%;

	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.viewer-canvas canvas{
	transform: translateY(-30px);
}

/* Viewer Buttons */

.viewer-wrapper .left-turn-button {
	position: absolute;
	left: 20px;
	bottom: 100px;
}

.viewer-wrapper .right-turn-button {
	position: absolute;
	right: 20px;
	bottom: 100px;
}

.viewer-wrapper .gender-select-wrapper {
	position: absolute;
	left: 0px;
	bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.viewer-wrapper .male-button, .viewer-wrapper .female-button {
	padding: 3px;
}

.gender-select-wrapper .selected {
	outline: 2px solid #24adaf;
}

/* Controller-main */
.controller {
	width: 720px;
	box-sizing: border-box;
	padding: 20px 10px;
	
	flex-shrink: 0;

	position: relative;
	overflow: hidden;

	background: #fff;
}

.swiper-wrapper {
	position: relative;
	width: calc(100% - 60px);
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	align-items: center;
}

.swiper-vertical>.swiper-wrapper {
	flex-direction: column;
}

.controller::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: transparent;
}

.controller::-webkit-scrollbar-thumb {
	background-color: #0008;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0)
}

.swiper-slide {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.swiper-pointer-events {
	touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
	touch-action: pan-x
}

.swiper-backface-hidden .swiper-slide {
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.controller-item {
	width: 600px;
	box-sizing: border-box;
	display:flex;
	flex-direction: column;
	flex-shrink: 0;
	gap: 10px;
	scroll-snap-align: start;
}

/* Controller-header */
.controller-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	z-index: 11;
}

.importer {
	width: 100px;
	height: 100%;
	background: #fff;
	cursor: pointer;
}

/* Item Selector */
.selector {
	width: 100%;
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;

	background: #fff;
}

.selector .left-button, .selector .right-button {
	position: absolute;
	top: calc(50% - 18px);
	z-index: 10;
}

.selector .left-button {
	left: -20px;
}

.selector .right-button {
	right: -20px;
}

.selector .expand-button {
	position: absolute;
	z-index: 10;
	top: 0px;
	right: -24px;
}

.selector-border {
	width: 100%;
	padding: 5px 0px;
	display: flex;
	border: 4px solid black;
	justify-content: center;
}

.selector-canvas {
	width: 480px;
	height: 75px;
	transition: height 0.3s;
	overflow: hidden;
}

.selector-canvas canvas {
	image-rendering: pixelated;
}

.expanded + .selector-canvas {
	height: 480px;
}

/* Controller-sub */
.controller-sub {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.box-with-title {
	box-sizing: border-box;
	position: relative;
	border-style: solid;
	border-width: 0px 3px 3px 3px;
	margin-top: 10px;
	padding: 15px 10px 5px 10px;
}

.box-with-title h3{
	position: absolute;
	top: -15px;
}

/* Color Slider */
.slider {
	height: 85px;
	background: #fff;
	flex-basis: 40%;
	flex-grow: 2;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.slider label {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.label {
	font-weight: bold;
	width: 1em;
	text-align: center;
}

output {
	width: 2rem;
	text-align: center;
}

.slider-hue {
	--track-gradient: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

.slider-saturation, .slider-brightness {
	--track-gradient: linear-gradient(90deg, var(--left), var(--right));
}

.slider-saturation {
	--left: #ffffff;
	--right: #ff0000;
}

.slider-brightness {
	--left: #000000;
	--right: #ff0000;
}

input[type=range] {
	--track-size: 2px;
	--track-radius: 2px;
	--thumb-size: 16px;
	--thumb-round: 16px;
	--thumb-border-color: #f00;
	width: 75%;
	height: 20px;
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: var(--track-size);
	cursor: pointer;
	background: var(--track-gradient, #333);
	border-radius: var(--track-radius);
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 2px 3px #0004;
	border: 4px solid var(--thumb-border-color, #000);
	width: var(--thumb-size);
	height: var(--thumb-size);
	box-sizing: border-box;
	border-radius: var(--thumb-round);
	background: #fff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: calc( var(--track-size) * 0.5);
	transform: translate( 0px, calc( var(--thumb-size) * -0.5 ) );
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: var(--track-size);
	cursor: pointer;
	background: var(--track-gradient, #333);
	border-radius: var(--track-radius);
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 2px 3px #0004;
	border: 4px solid var(--thumb-border-color, #000);
	width: var(--thumb-size);
	height: var(--thumb-size);
	box-sizing: border-box;
	border-radius: var(--thumb-round);
	background: #fff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: var(--track-size);
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-upper {
	background: var(--track-gradient, #333);
	border-radius: calc( var(--track-radius) * 2 );
}
input[type=range]::-ms-fill-lower {
	background: var(--track-gradient, #333);
	border-radius: calc( var(--track-radius) * 2 );
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 2px 3px #0004;
	border: 4px solid var(--thumb-border-color, #000);
	height: var(--thumb-size);
	width: var(--thumb-size);
	border-radius: var(--thumb-round);
	background: #fff;
	cursor: pointer;
}

/* Item Description */
.description {
	height: 85px;
	background: #fff;
	flex-basis: 60%;
	flex-grow: 3;
}

.description-content {
	font-size: 0.8rem;
	white-space: pre-wrap;
}

/* File Importer */

/* nav */
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: .3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10
}

.nav-bar {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.swiper-horizontal>.nav-bar {
	width: 100%;
	height: 60px;
	left: 0px;
	bottom: 0px;
	box-shadow: 0px -2px 4px #0002;
	flex-direction: row;
}

.swiper-vertical>.nav-bar {
	width: 60px;
	height: 100%;
	top: 0px;
	right: 0px;
	box-shadow: -2px 0px 4px #0002;
	flex-direction: column;
}

.nav-icon {
	width: 60px;
	height: 60px;
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	transform: translateY(0px);
	transition: transform 0.2s;
}

.nav-icon.swiper-pagination-bullet-active {
	transform: translateY(0px);
}

.nav-icon:hover,
.nav-icon.swiper-pagination-bullet-active:hover {
	transform: translateY(0px) scale(1.1);
}

.bullet-caption {
	font-size: 0.5rem;
	opacity: 1;
	transform: translateY(-5px);
	transition: opacity 0.5s;
}


/* Footer */
footer {
	font-size: 0.75rem;
	width: 100vw;
	text-align: center;
	position: absolute;
	bottom: 8px;
}


/* UI Icon */
.ui-icon {
	--scale: 1;
	--base-width: 20px;
	--base-height: 20px;
	width: calc( var(--scale, 1) * var(--base-width) );
	height: calc( var(--scale, 1) * var(--base-height) );
}

.ui-icon:after {
	content: "";
	background-image: url("/assets/ui.png");
	background-repeat: no-repeat;
	image-rendering: pixelated;
	width: var(--base-width);
	height: var(--base-height);
	display: block;
	transform: scale( var(--scale, 1) );
	transform-origin: top left;
}

.help-button, .language-button, .import-button {
	--base-width: 30px;
	--base-height: 30px;
}
.hats-icon, .skin-icon, .hairstyle-icon, .shirts-icon, .pants-icon, .body-icon {
	--base-width: 20px;
	--base-height: 20px;
	--scale: 2;
}
.male-button, .female-button {
	--base-width: 14px;
	--base-height: 16px;
	--scale: 3;
}
.left-button, .right-button {
	--base-width: 12px;
	--base-height: 11px;
	--scale: 3;
}
.left-turn-button, .right-turn-button {
	--base-width: 20px;
	--base-height: 12px;
	--scale: 3;
}
.shuffle-button {
	--base-width: 10px;
	--base-height: 10px;
	--scale: 3;
}
.expand-button {
	--base-width: 8px;
	--base-height: 10px;
	--scale: 3;
}
.close-button {
	--base-width: 5px;
	--base-height: 5px;
	--scale: 4;
}

.help-button:after {
	background-position: 0px 0px;
}
.language-button:after {
	background-position: -30px 0px;
}
.import-button:after {
	background-position: -60px 0px;
}
.hats-icon:after {
	background-position: 0px -30px;
}
.hairstyle-icon:after {
	background-position: -20px -30px;
}
.shirts-icon:after {
	background-position: -40px -30px;
}
.pants-icon:after {
	background-position: -60px -30px;
}
.body-icon:after, .skin-icon:after {
	background-position: -80px -30px;
}
.shuffle-button:after {
	background-position: -90px -0px;
}
.male-button:after {
	background-position: 0px -50px;
}
.female-button:after {
	background-position: -14px -50px;
}
.left-button:after {
	background-position: -28px -50px;
}
.right-button:after {
	background-position: -40px -50px;
}
.left-turn-button:after {
	background-position: -52px -50px;
}
.right-turn-button:after {
	background-position: -72px -50px;
}
.expand-button:after {
	background-position: -91px -10px;
}
.close-button:after {
	background-position: -90px -20px;
}

.inline {
	display: inline-block;
	--scale: 2;
	vertical-align: middle;
}

.inline.help-button, .inline.language-button, .inline.import-button {
	--scale: 1;
}

.hover-interact {
	transition: transform 0.1s ease-out;
	cursor: pointer;
}

.hover-interact:hover {
	transform: scale(1.1);
}

.inactive {
	visibility: hidden;
	pointer-events: none;
}

.gray {
	filter: grayscale(95%);
	pointer-events: none;
}

.hidden {
	display: none;
}


@media (max-width: 1365px) {
	header {
		padding: 0px 20px;
	}

	main {
		width: 100vw;
		height: calc( 100vh - 60px );
		margin: 0px;
		top: 60px;
		flex-direction: column;

		border: none;
	}

	/* Howto */
	.howto-modal {
		top: calc( 50vh - 300px );
		left: 10vw;
		width: 80vw;
		height: 600px;
	}

	/* Viewer */
	.viewer {
		width: 100vw;
		flex-grow: 1;
	}

	/* Controller-main */
	.controller {
		width: 100vw;
		min-height: 260px;
		padding: 10px;

		flex-direction: row;

		scroll-snap-type: none;
		scroll-padding: 0px;
	}

	.swiper-wrapper {
		width: 100%;
		margin-bottom: 60px;
	}

	.controller-item {
		width: 640px;
		min-height: 250px;
		padding: 0px;
		scroll-snap-align: center;
	}

	.expanded + .selector-canvas {
		height: 320px;
	}

	/* Nav Bar */
	.nav-icon {
		transform: translateY(5px);
	}

	.nav-icon.swiper-pagination-bullet-active:before {
		content: "";
		width: 74px;
		height: 74px;
		position: absolute;
		z-index: -2;
		border: 4px solid transparent;
		border-radius: 50%;
		background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #0086fe 0%, #fe00dc 100%);
		background-origin: border-box;
		background-clip: content-box, border-box;
	}

	.bullet-caption {
		opacity: 0;
	}

	.nav-icon:hover>.bullet-caption,
	.swiper-pagination-bullet-active>.bullet-caption {
		opacity: 1;
	}

	footer {
		display: none;
	}
}


@media (max-width: 767px) {
	header {
		height: 50px;
		justify-content: center;
	}

	.title {
		width: 50%;
	}

	/* Howto */
	.howto-modal {
		top: 10vh;
		left: 10vw;
		width: 80vw;
		height: 80vh;
	}

	main {
		top: 50px;
		height: calc( 100vh - 50px );
		overflow: auto;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
	}

	/* Viewer */
	.viewer {
		height: calc( 100vh - 320px );
		scroll-snap-align: start;
	}

	/* Controller-main */
	.controller {
		height: 80vh;
		scroll-snap-align: start;
	}

	.controller-item {
		width: 100%;
		min-height: unset;
		padding: 0px;
	}

	.swiper-wrapper {
		align-items: flex-start;
	}

	/* Controller-header */
	.controller-header {
		display: none;
	}

	/* Item Selector */
	.selector .left-button, .selector .right-button, .selector .expand-button {
		display: none;
	}

	/* 8 columns */
	.selector-canvas {
		width: 512px;
		height: 70px;
	}

	.expanded + .selector-canvas {
		height: calc( 80vh - 320px );
	}

	/* Controller-sub */
	.controller-sub {
		gap: 30px;
		flex-direction: column;
	}

	/* Color Slider */
	.slider {
		width: 100%;
		height: 85px;
		flex-basis: auto;
	}

	/* Item Description */
	.description {
		width: 100%;
		height: 120px;
		flex-basis: auto;
	}

	/* Nav Bar */
	.swiper-horizontal>.nav-bar {
		position: fixed;
		height: 50px;
	}

	.nav-icon {
		width: 40px;
		transform: translateY(8px);
	}

	.nav-icon.swiper-pagination-bullet-active:before {
		width: 60px;
		height: 60px;
	}

	.bullet-caption {
		opacity: 0;
	}
	.swiper-pagination-bullet-active>.bullet-caption {
		opacity: 1;
	}
}

@media (max-width: 527px) {
	/* 7 columns */
	.selector-canvas {
		width: 448px;
	}
}

@media (max-width: 463px) {
	/* 6 columns */
	.selector-canvas {
		width: 384px;
	}
}

@media (max-width: 399px) {
	/* 5 columns */
	.selector-canvas {
		width: 320px;
	}
}

@media (max-width: 336px) {
	.selector-canvas {
		width: 95%;
	}
}