/* Cloth List */
.cloth-list-wrapper {
	width: 560px;
	position: relative;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.cloth-list-wrapper .left-button, .cloth-list-wrapper .right-button {
	position: absolute;
	top: calc(50% - 6px);
	z-index: 10;
	transition: transform 0.1s ease-out;
}

.cloth-list-wrapper .left-button:hover, .cloth-list-wrapper .right-button:hover {
	transform: scale(3.3);
}

.cloth-list-wrapper .left-button {
	left: 10px;
}

.cloth-list-wrapper .right-button {
	right: 10px;
}

.cloth-list-wrapper .expand-button {
	position: absolute;
	z-index: 10;
	top: 10px;
	right: 0px;
}

.cloth-list-border {
	padding: 8px 20px;
	border: 4px solid black;
}

.cloth-list {
	width: 480px;
	height: 75px;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	flex-direction: row;
	align-items: center;
	scroll-snap-type: x mandatory;
	scroll-padding: 10px;
	scroll-behavior: smooth;
}

.expanded + .cloth-list {
	height: 480px;
}

.cloth-list canvas{
	image-rendering: pixelated;
}

.desc-content { 
	white-space: pre-wrap;
}

.inactive {
	filter: grayscale(92%);
}

.cloth-list-wrapper .inactive.left-button:hover, .cloth-list-wrapper .inactive.right-button:hover {
	transform: scale(3);
}


/* UI Icon */
.help-button,
.language-button,
.import-button,
.hats-icon,
.hairstyle-icon,
.shirts-icon,
.pants-icon,
.shuffle-button,
.male-button, 
.female-button, 
.left-button, 
.right-button, 
.left-turn-button,
.right-turn-button,
.expand-button{
	background-image: url("/assets/ui.png");
	background-repeat: no-repeat;
	image-rendering: pixelated;
}
.help-button, .language-button, .import-button {
	width: 30px;
	height: 30px;
}
.hats-icon, .hairstyle-icon, .shirts-icon, .pants-icon {
	width: 20px;
	height: 20px;
	transform: scale(3);
}
.male-button, .female-button {
	width: 14px;
	height: 16px;
	transform: scale(3);
}
.left-button, .right-button {
	width: 12px;
	height: 11px;
	transform: scale(3);
}
.left-turn-button, .right-turn-button {
	width: 20px;
	height: 12px;
	transform: scale(3);
}

.help-button {
	background-position: 0px 0px;
}
.language-button {
	background-position: -30px 0px;
}
.import-button {
	background-position: -60px 0px;
}
.hats-icon {
	background-position: 0px -30px;
}
.hairstyle-icon {
	background-position: -20px -30px;
}
.shirts-icon {
	background-position: -40px -30px;
}
.pants-icon {
	background-position: -60px -30px;
}
.shuffle-button {
	width: 10px;
	height: 10px;
	background-position: -80px -30px;
	transform: scale(4);
}
.male-button {
	background-position: 0px -50px;
}
.female-button {
	background-position: -14px -50px;
}
.left-button {
	background-position: -28px -50px;
}
.right-button {
	background-position: -40px -50px;
}
.left-turn-button {
	background-position: -52px -50px;
}
.right-turn-button {
	background-position: -72px -50px;
}
.expand-button {
	width: 8px;
	height: 10px;
	background-position: -80px -40px;
	transform: scale(3);
}

/* prismatic animation */
@-webkit-keyframes prismatic-color {
	0%{
		background-color: red;
	}
	16.67%{
		background-color: orange;
	}
	33.33%{
		background-color: yellow;
	}
	50%{
		background-color: lime;
	}
	66.67%{
		background-color: blue;
	}
	83.33%{
		background-color: violet;
	}
	100%{
		background-color: red;
	}
}

@keyframes prismatic-color {
	0%{
		background-color: red;
	}
	16.67%{
		background-color: rgb(255, 120, 0);
	}
	33.33%{
		background-color: rgb(255, 217, 0);
	}
	50%{
		background-color: lime;
	}
	66.67%{
		background-color: cyan;
	}
	83.33%{
		background-color: violet;
	}
	100%{
		background-color: red;
	}
}